.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: center;
  gap: 70px;

}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: start;
  column-gap: 50px;
}
